root = true

[*]

[package.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
trim_trailing_whitespace = false

[*.js]
curly_bracket_next_line = false
spaces_around_operators = true
indent_brace_style = 1TBS
spaces_around_brackets = both
end_of_line = lf
indent_size = 2
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
